@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';
@import '../css/dashboard.css';
@import '../css/general.css';
@import '../css/checkout.css';
@import '../css/variables.css';