@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';
@import '../css/dashboard.css';
@import '../css/general.css';
@import '../css/checkout.css';
@import '../css/variables.css';
@import '../css/reset.css';

/* Components */
@import '../css/components/navbar.css';
@import '../css/components/footer.css';
@import '../css/components/mobile-map-toggler.css';

/* Pages */
@import '../css/pages/homepage.css';