@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;500;700&display=swap');

body {
	background-color: var(--main-bg);
	color: var(--main-black);
	font-size: 16px;
	font-family: 'Ubuntu', sans-serif;
}

.w-fit-content {
  	width: fit-content;
}

.ProseMirror {
	min-height: 100px;
}

.custom-editor ol {
	list-style: auto;
	padding: 25px;
}

.custom-editor ul {
	list-style: circle;
	padding: 25px;
}

.secondary-btn {
	background-color: var(--gray-button);
	border-radius: 0.375rem;
	padding: 7px 10px;
	align-items: center;
	display: inline-flex;
	color: var(--main-black);
	font-weight: 500;
}

.secondary-btn:hover {
	background-color: var(--secondary-gray);
	color: white;
}

.primary-btn {
	color: white;
	background-color: var(--cta-blue);
	padding: 7px 10px;
	font-weight: 500;
	border-radius: 0.375rem;
	align-items: center;
	display: inline-flex;
}

.primary-btn:hover {
	background-color: var(--cta-blue-hover);
}