@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;500;700&display=swap');

body {
	background-color: var(--main-bg);
	color: var(--main-black);
	font-size: 16px;
	font-family: 'Ubuntu', sans-serif;
}

.w-fit-content {
  	width: fit-content;
}

.ProseMirror {
	min-height: 100px;
}

.custom-editor ol {
	list-style: auto;
	padding: 25px;
}

.custom-editor ul {
	list-style: circle;
	padding: 25px;
}