:root {
  --main-bg: #F9F9F9;
  --dark-bg: #3E4144;
  --cta-blue: #04A1DD;
  --cta-green: #24AEA4;
  --titles-color: #36474F;
  --red-cta: #F45958;
  --secondary-gray: #676767;
  --gray-button: #E7E7E6;
  --main-black: #0E1926;
}