.main-title-wrapper {
	position: sticky;
	top: 60px;
	z-index: 10;
	background-color: var(--main-bg);
	max-height: 115px;
	height: 115px;
}

.main-title-wrapper .main-title {
	font-size: 35px;
}

.main .main__content-wrapper {
	flex: 63%;
}

.main .main__map-wrapper {
	flex: 37%;
}

.main .main__content-wrapper .filter-form .filter-form__inputs-wrapper {
	border-radius: 5px;
	-webkit-box-shadow: 2px 4px 4px 0px rgba(0, 0, 0, 0.25);
	-moz-box-shadow: 2px 4px 4px 0px rgba(0, 0, 0, 0.25);
	box-shadow: 2px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.main .main__content-wrapper .filter-form .filter-form__inputs-wrapper input {
	border: 0 !important;
	width: 100%;
}

.main .main__content-wrapper .filter-form .filter-form__inputs-wrapper .multiselect {
	border: 0;
}

.main .main__content-wrapper .filter-form .filter-form__inputs-wrapper .multiselect .multiselect-placeholder {
	color: var(--titles-color) !important;
}

.main .main__content-wrapper .filter-form .filter-form__inputs-wrapper .multiselect .multiselect-caret {
	background-color: var(--titles-color) !important;
}

.main .main__content-wrapper .filter-form .filter-form__inputs-wrapper .multiselect.is-active {
	border: 0 !important;
	box-shadow: none !important;
}

.main .main__content-wrapper .filter-form .filter-form__inputs-wrapper .icon {
	color: var(--titles-color);
}

.main .main__content-wrapper .filter-form .filter-form__inputs-wrapper input::placeholder {
	color: var(--titles-color);
}

.main .main__content-wrapper .filter-form .filter-form__inputs-wrapper .input {
	flex: 40%;
}

.main .main__content-wrapper .filter-form .filter-form__inputs-wrapper .input:first-of-type {
	border-right: 3.5px solid var(--gray-button);
}

.main .main__content-wrapper .filter-form .filter-form__inputs-wrapper .search-btn {
	flex: 1;
	background-color: var(--cta-blue);
	color: white;
	font-weight: 500;
	border-radius: 0 5px 5px 0;
}

.main .main__content-wrapper .filter-form .filter-form__inputs-wrapper .search-btn:hover {
	background-color: var(--cta-blue-hover);
	transition: cubic-bezier(0.645, 0.045, 0.355, 1);
}

.main .main__content-wrapper .filter-form-wrapper {
	position: sticky;
	top: 175px;
	z-index: 9;
	background-color: var(--main-bg);
}

.listing {
	height: 400vh;
	background-color: red;
	z-index: 1;
	margin-top: 40px;
}

@media screen and (max-width: 767px){
	.main .main__content-wrapper .filter-form-wrapper .filter-form .filter-form__inputs-wrapper {
		flex-direction: column;
		padding: 1.25rem;
		row-gap: 1rem;
	}

	.main .main__content-wrapper .filter-form-wrapper .filter-form .filter-form__inputs-wrapper .input:first-of-type {
		border-right: 0;
	}

	.main .main__content-wrapper .filter-form-wrapper .filter-form .filter-form__inputs-wrapper .search-btn {
		border-radius: 5px;
	}

	.main .main__content-wrapper .filter-form-wrapper .filter-form .filter-form__inputs-wrapper .input {
		border-bottom: 2px solid var(--gray-button);
	}

	.main-title-wrapper .main-title {
		font-size: 30px;
	}
}

@media screen and (max-width: 1023px) {
	.main-title-wrapper, 
	.main .main__content-wrapper .filter-form-wrapper {
		position: relative;
		top: 0;
		height: auto;
	}

	.main .main__map-wrapper {
		position: fixed !important;
		top: 0;
		left: 0;
		z-index: 1000;
		height: 100%;
		width: 100%;
	}

	.main #map {
		width: 100%;
		height: 100%;
	}
}

@media screen and (min-width: 1024px) {
	.main #map {
		position: sticky !important;
		top: 175px;
		z-index: 9;
		height: 100vh;
		border-radius: 5px 5px 0 0;
		-webkit-box-shadow: 5px 4px 4px 0px rgba(0, 0, 0, 0.25);
		-moz-box-shadow: 5px 4px 4px 0px rgba(0, 0, 0, 0.25);
		box-shadow: 5px 4px 4px 0px rgba(0, 0, 0, 0.25);
	}
}