.main-title-wrapper {
	position: sticky;
	top: 60px;
	z-index: 10;
	background-color: var(--main-bg);
	max-height: 115px;
	height: 115px;
}

.main-title-wrapper .main-title {
	font-size: 35px;
}

.main .main__content-wrapper {
	flex: 63%;
}

.main .main__map-wrapper {
	flex: 37%;
}

.main .main__content-wrapper .filter-form .filter-form__inputs-wrapper {
	border-radius: 5px;
	-webkit-box-shadow: 2px 4px 4px 0px rgba(0, 0, 0, 0.25);
	-moz-box-shadow: 2px 4px 4px 0px rgba(0, 0, 0, 0.25);
	box-shadow: 2px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.main .main__content-wrapper .filter-form .filter-form__inputs-wrapper input {
	border: 0 !important;
	width: 100%;
}

.main .main__content-wrapper .filter-form .filter-form__inputs-wrapper .multiselect {
	border: 0;
}

.main .main__content-wrapper .filter-form .filter-form__inputs-wrapper .multiselect .multiselect-placeholder {
	color: var(--titles-color) !important;
}

.main .main__content-wrapper .filter-form .filter-form__inputs-wrapper .multiselect .multiselect-caret {
	background-color: var(--titles-color) !important;
}

.main .main__content-wrapper .filter-form .filter-form__inputs-wrapper .multiselect.is-active {
	border: 0 !important;
	box-shadow: none !important;
}

.main .main__content-wrapper .filter-form .filter-form__inputs-wrapper .icon {
	color: var(--titles-color);
}

.main .main__content-wrapper .filter-form .filter-form__inputs-wrapper input::placeholder {
	color: var(--titles-color);
}

.main .main__content-wrapper .filter-form .filter-form__inputs-wrapper .input {
	flex: 40%;
}

.main .main__content-wrapper .filter-form .filter-form__inputs-wrapper .input:first-of-type {
	border-right: 3.5px solid var(--gray-button);
}

.main .main__content-wrapper .filter-form .filter-form__inputs-wrapper .search-btn {
	flex: 1;
	background-color: var(--cta-blue);
	color: white;
	font-weight: 500;
	border-radius: 0 5px 5px 0;
}

.main .main__content-wrapper .filter-form .filter-form__inputs-wrapper .search-btn:hover {
	background-color: var(--cta-blue-hover);
	transition: cubic-bezier(0.645, 0.045, 0.355, 1);
}

.main .main__content-wrapper .filter-form-wrapper {
	position: sticky;
	top: 175px;
	z-index: 9;
	background-color: var(--main-bg);
}

.listing {
	z-index: 1;
	margin-top: 40px;
	display: flex;
	flex-direction: column;
}

.main .main__content-wrapper .filter-form .tech-box-main {
	display: flex;
	max-width: 50px;
	min-width: 50px;
	max-height: 50px;
	min-height: 50px;
	align-items: center;
	justify-content: center;
}

.main .main__content-wrapper .filter-form .tech-box-main .tech-box-wrapper {
	display: flex;
	-webkit-box-flex: 1;
    flex-grow: 1;
    min-width: 0px;
}

.main .main__content-wrapper .filter-form .tech-box-main .tech-box-wrapper .tech-box {
	display: flex;
    -webkit-box-flex: 1;
    flex-grow: 1;
    -webkit-box-pack: center;
    justify-content: center;
    align-items: flex-start;
    min-width: 0px;
}

.main .main__content-wrapper .filter-form .tech-box-main .tech-box-wrapper .tech-box .tech-box__link {
    display: flex;
    flex-direction: column;
    -webkit-box-align: center;
    align-items: center;
    min-width: 0px;
    text-decoration: none;
    border-radius: 50%;
}

.main .main__content-wrapper .filter-form .tech-box-main .tech-box-wrapper .tech-box .tech-box__icon-wrapper { 
	background: linear-gradient(-90deg, rgb(65, 173, 250), rgb(21, 124, 252));
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    box-shadow: none;
    text-transform: none;
    width: 40px;
    height: 40px;
    line-height: 40px;
    border-radius: 5px;
    position: relative;
    transition: all 300ms ease 0s;
	filter: none;
    animation: 1s ease 0s 1 normal none running appearIn;
}

.main .main__content-wrapper .filter-form .tech-box-main .tech-box-wrapper .tech-box .tech-box__icon-wrapper:hover { 
    box-shadow: rgb(228 232 240) 0px 0px 0px 5px;
    color: rgb(255, 255, 255);
    fill: rgb(255, 255, 255);
}

.main .main__content-wrapper .filter-form .tech-box-main .tech-box-wrapper .tech-box .tech-box__icon-wrapper svg { 
	width: 35px;
    fill: rgb(255, 255, 255);
	color: white;
}

.main .main__content-wrapper .filter-form .tech-box-main .tech-box-wrapper .tech-box .tech-box__label { 
    font-size: 11px;
    line-height: 15px;
    text-align: center;
    margin-top: 5px;
}

.main .main__content-wrapper .filter-form .more-filters-btn {
	background-color: var(--gray-button);
	min-height: 40px;
	max-height: 40px;
	font-weight: 500;
	font-size: 14px;
	border-radius: 5px;
	padding: 0 10px;
	transition: all 300ms ease 0s;
	filter: none;
    animation: 1s ease 0s 1 normal none running appearIn;
}

.main .main__content-wrapper .filter-form .more-filters-btn:hover {
	box-shadow: rgb(228 232 240) 0px 0px 0px 5px;
}

.filter-modal {
	position: fixed;
	left: 50%;
	top: 50%;
	z-index: 1101;
	background-color: var(--main-bg);
	border-radius: 5px;
	-webkit-box-shadow: 2px 4px 4px 0px rgba(0, 0, 0, 0.25);
	-moz-box-shadow: 2px 4px 4px 0px rgba(0, 0, 0, 0.25);
	box-shadow: 2px 4px 4px 0px rgba(0, 0, 0, 0.25);
	padding: 15px;
}

.overlay {
	position: fixed;
	top: 0;
	left: 0;
	width: 100vw;
	height: 100vh;
	opacity: 0.3;
	background-color: gray;
	z-index: 1002;
}

.main .main__content-wrapper .filter-form-wrapper .filter-form .sub-filter-section {
	padding-top: 30px;
	padding-bottom: 20px;
	display: flex;
	justify-content: end;
	align-items: center;
}

.main .main__content-wrapper .filter-form-wrapper .filter-form .sub-filter-section .order-select {
	border: 0 !important;
	background-color: transparent !important;
}

@media screen and (max-width: 767px){
	.main .main__content-wrapper .filter-form-wrapper .filter-form .filter-form__inputs-wrapper {
		flex-direction: column;
		padding: 1.25rem;
		row-gap: 1rem;
	}

	.main .main__content-wrapper .filter-form-wrapper .filter-form .filter-form__inputs-wrapper .input:first-of-type {
		border-right: 0;
	}

	.main .main__content-wrapper .filter-form-wrapper .filter-form .filter-form__inputs-wrapper .search-btn {
		border-radius: 5px;
	}

	.main .main__content-wrapper .filter-form-wrapper .filter-form .filter-form__inputs-wrapper .input {
		border-bottom: 2px solid var(--gray-button);
	}

	.main-title-wrapper .main-title {
		font-size: 30px;
	}

	.main .main__content-wrapper .filter-form-wrapper .filter-form .tech-section,
	.main .main__content-wrapper .filter-form-wrapper .filter-form .sub-filter-section {
		display: none !important;
	}

	.main .main__content-wrapper .filter-form-wrapper .filter-form .mobile-section {
		display: block;
	}
}

@media screen and (max-width: 1023px) {
	.main-title-wrapper, 
	.main .main__content-wrapper .filter-form-wrapper {
		position: relative;
		top: 0;
		height: auto;
	}

	.main .main__map-wrapper {
		position: fixed !important;
		top: 0;
		left: 0;
		z-index: 1003;
		height: 100%;
		width: 100%;
	}

	.main #map {
		width: 100%;
		height: 100%;
	}
}

@media screen and (min-width: 1024px) {
	.main #map {
		position: sticky !important;
		top: 175px;
		z-index: 9;
		height: 100vh;
		border-radius: 5px 5px 0 0;
		-webkit-box-shadow: 5px 4px 4px 0px rgba(0, 0, 0, 0.25);
		-moz-box-shadow: 5px 4px 4px 0px rgba(0, 0, 0, 0.25);
		box-shadow: 5px 4px 4px 0px rgba(0, 0, 0, 0.25);
	}
}

@media screen and (min-width: 768px) {
	.main .main__content-wrapper .filter-form-wrapper .filter-form .mobile-section {
		display: none !important;
	}
}