.mobile-map-toggler {
  	position: fixed;
	left: 0;
	transform: translate(calc(50vw - 50%));
	bottom: 25px;
	background-color: var(--main-black);
	font-weight: 500;
	padding: 10px;
	border-radius: 5px;
	z-index: 1004;
	color: white;
	-webkit-box-shadow: 5px 4px 4px 0px rgba(0, 0, 0, 0.25);
	-moz-box-shadow: 5px 4px 4px 0px rgba(0, 0, 0, 0.25);
	box-shadow: 5px 4px 4px 0px rgba(0, 0, 0, 0.25);
}