nav {
	position: sticky;
    top: 0;
    left: auto;
    right: 0;
	z-index: 999;
	background-color: var(--dark-bg);
	color: white;
}

.navbar {
	height: 60px;
}

.navbar .navbar__logo {
	font-weight: 700;
	font-size: 30px;
}

.navbar .navbar__logo:hover {
	color: var(--cta-green);
}

.navbar .navbar__links {
	height: 100%;
}

.navbar .navbar__links a,
.navbar .navbar__buttons a {
	position: relative;
	height: 100%;
	display: flex;
	align-items: center;
	transition: cubic-bezier(0.645, 0.045, 0.355, 1);
}

.navbar .navbar__links a:hover,
.navbar .navbar__buttons a:hover {
	font-weight: 500;
}

.navbar .navbar__links .link:hover::after,
.navbar .navbar__buttons .link:hover::after {
	content: '';
    width: 100%;
    height: 4px;
    background-color: var(--cta-green);
    position: absolute;
    bottom: 0;
    left: 0;
}

.navbar .navbar__buttons {
	height: 100%;
}


.navbar .navbar__buttons .cta-dropdown {
	background-color: var(--cta-green);
	padding: 5px 10px;
	border-radius: 5px;
}

.navbar .navbar__buttons .cta-dropdown .dropdown-content {
	padding-top: 1rem;
	padding-bottom: 1rem;
}

.navbar .navbar__buttons .cta-dropdown .dropdown-content .btn-wrapper{
	background-color: var(--secondary-gray);
	border-radius: 5px;
}

.navbar .navbar__buttons .cta-dropdown .dropdown-content,
.navbar .navbar__buttons .lang-dropdown .dropdown-content {
	background-color: var(--dark-bg);
}

.navbar .navbar__buttons .cta-dropdown:hover {
	background-color: var(--cta-green-hover);
	transition: cubic-bezier(0.645, 0.045, 0.355, 1);
}


.navbar .navbar__buttons .lang-dropdown .dropdown-content select {
	color: var(--main-black);
	border-radius: 5px;
}

.mobile-navbar {
	position: fixed;
	right: 0;
	top: 0;
	height: 100vh;
	width: 50%;
	background-color: var(--dark-bg);
	color: white;
	z-index: 1001;
}

.mobile-navbar .mobile-navbar__links a:hover {
	font-weight: 500;
	color: var(--cta-green);
}

.mobile-navbar .mobile-navbar__buttons .btn-wrapper{
	background-color: var(--secondary-gray);
	border-radius: 5px;
}

.mobile-navbar select {
	color: var(--main-black);
	border-radius: 5px;
}

.overlay {
	position: fixed;
	right: 0;
	top: 0;
	height: 100vh;
	width: 100%;
	opacity: 0.3;
	background-color: var(--dark-bg);
	z-index: 1000;
}

@media screen and (max-width: 768px){
	.navbar .navbar__logo {
		font-size: 25px;
	}

	.mobile-navbar {
		width: 100%;
	}

	.navbar .cta-dropdown .wrapper {
		width: 15rem;
	}
}

@media screen and (max-width: 1024px){
	.navbar .navbar__buttons .link {
		display: none !important;
	}
}